.git
.gitignore
.env
__pycache__
**/venv/
**/.venv/
**/frontend-dev/
**/node_modules/
*.pyc
*.pyo
*.pyd
.DS_Store
**/backend/logs/
**/ai-ml-dev/
**/docs/
**/mininet/
**/tests/
coverage/
.coverage
.pytest_cache/
